# Compiled files
dist
*.js
*.map
*.d.ts
dist.tgz

# Library directories
node_modules
coverage
npm-debug.log

# Mac
.DS_Store
**/.DS_Store

# Ignore VSCode Config
.vscode

# JetBrains
.idea

# Yarn
yarn-error.log
