node_modules
npm-debug.log

# Source Files
src
*.ts
!*.d.ts

# Testing
config
coverage
karma.conf.js

# Config Files
.travis.yml
.gitignore
tsconfig.json

# Mac
.DS_Store
**/.DS_Store

# AoT
*.ngsummary.json
