<div class="col-md-6">
	<div class="card card-block">
		<div class="card-body">

			<h4 class="card-title">Update Password</h4>

			<form #changePasswordForm="ngForm" (ngSubmit)="onSubmit()">

				<div class="form-group">
					<label for="formGroupExampleInput">Current Password</label>
					<input type="text"
						class="form-control"
						placeholder="Current Password"
						required
						[(ngModel)]="updatePasswordData.passwordCurrent"
						name="current-password">
				</div>

				<div class="form-group">
					<label for="formGroupExampleInput">New Password</label>
					<input type="password"
						class="form-control"
						placeholder="New Password"
						required
						[(ngModel)]="updatePasswordData.password"
						name="password">
				</div>

				<div class="form-group">
					<label for="formGroupExampleInput">New Password Confirmation</label>
					<input type="password"
						class="form-control"
						placeholder="New Password Confirmation"
						required
						[(ngModel)]="updatePasswordData.passwordConfirmation"
						name="password-confirmation">
				</div>

				<button
					type="submit"
					class="btn btn-primary"
					[disabled]="!changePasswordForm.form.valid">
					Update Password
				</button>

			</form>
		</div>
	</div>
</div>
<div class="col-md-6">
	<app-output [data]="output"></app-output>
</div>