<div class="col-md-6">
	<mat-card>
		<mat-card-title>
			<mat-icon color="primary">vpn_key</mat-icon>
			Update Password
		</mat-card-title>
		<mat-card-subtitle>
			Update the password of the currently signed in user
		</mat-card-subtitle>

		<mat-card-content>
			<form #changePasswordForm="ngForm" (ngSubmit)="onSubmit()">

				<mat-form-field>
					<input
						matInput
						type="text"
						placeholder="Current Password"
						required
						[(ngModel)]="updatePasswordData.passwordCurrent"
						name="current-password">
				</mat-form-field>

				<mat-form-field>
					<input 
						matInput
						type="password"
						placeholder="New Password"
						required
						[(ngModel)]="updatePasswordData.password"
						name="password">
				</mat-form-field>

				<mat-form-field>
					<input
						matInput
						type="password"
						placeholder="New Password Confirmation"
						required
						[(ngModel)]="updatePasswordData.passwordConfirmation"
						name="password-confirmation">
				</mat-form-field>

				<button
					mat-raised-button
					type="submit"
					[disabled]="!changePasswordForm.form.valid">
					Update Password
				</button>

			</form>
		</mat-card-content>
	</mat-card>
</div>

<div class="col-md-6">
	<app-output [response]="output"></app-output>
</div>