<div class="container">
  <app-register class="row"></app-register>
</div>

<mat-divider></mat-divider>

<div class="container">
  <app-sign-in class="row"></app-sign-in>
</div>

<mat-divider></mat-divider>

<div class="container">
  <app-access-resource class="row"></app-access-resource>
</div>

<mat-divider></mat-divider>

<div class="container">
  <app-can-activate class="row"></app-can-activate>
</div>

<mat-divider></mat-divider>

<div class="container">
  <app-change-password class="row"></app-change-password>
</div>

<mat-divider></mat-divider>

<div class="container">
  <app-validate-token class="row"></app-validate-token>
</div>

<mat-divider></mat-divider>

<div class="container">
  <app-sign-out class="row"></app-sign-out>
</div>
