<div class="col-md-6">
	<mat-card>
		<mat-card-title>
			<mat-icon color="primary">lock</mat-icon>
			Validate Token
		</mat-card-title>
		<mat-card-subtitle>
			Validate the current users token
		</mat-card-subtitle>

		<mat-card-content>
			<form #validateTokenForm="ngForm" (ngSubmit)="onSubmit()">
				<button
					mat-raised-button
					color="primary" 
					type="submit">
					Validate Token
				</button>
			</form>
		</mat-card-content>
	</mat-card>
</div>

<div class="col-md-6">
	<app-output [response]="output"></app-output>
</div>