<div class="col-md-6">
	<div class="card card-block">
		<div class="card-body">

			<h4 class="card-title">Sign In</h4>

			<form #signInForm="ngForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="formGroupExampleInput">Login</label>
					<input type="text"
						class="form-control"
						placeholder="Login"
						required
						[(ngModel)]="signInData.login"
						name="email">
				</div>
				<div class="form-group">
					<label for="formGroupExampleInput">Password</label>
					<input type="password"
						class="form-control"
						placeholder="Password"
						required
						[(ngModel)]="signInData.password"
						name="password">
				</div>
				<button
					type="submit"
					class="btn btn-primary"
					[disabled]="!signInForm.form.valid">Sign In</button>
			</form>
		</div>
	</div>
</div>

<div class="col-md-6">
	<app-output [data]="output"></app-output>
</div>