<div class="header">
    <div class="container">

        <h1 class="display-4">Angular-Token</h1>

        <p>
            This is an example for Angular-Token. Angular-Token is a token based authentication service for Angular with multiple user support. It works best with the devise token auth gem for Rails.
        </p>

        <a href="https://github.com/neroniaky/angular-token">
            <button type="button" class="btn btn-secondary">
                <i class="fa fa-github" aria-hidden="true"></i>
                Github
            </button>
        </a>
    </div>
</div>

<router-outlet></router-outlet>