@import "node_modules/bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

.header {
  background-color: #eee;
  padding-top: 30px;
  padding-bottom: 30px;
}