/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap-grid";

html, body { 
  height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eee;
}

mat-form-field {
  width: 100%;
}

.col-md-6 {
  padding-bottom: 20px;
}

code {
  color: #9dbef2;
}